* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", serif;
    
}
body{
    padding-top: 100px; 
    padding: 0;
    margin:  0 0;
    
}

header {
    background-color: #ada3a3;
    display: flex;
    align-items: center;
    margin-bottom: 80px;
    padding: 30px 0;

}
header img {
    margin-left: 20px;
    height: 36px;
    margin-right: 16px;

}

header h1 {
    font-size: 40px;
    font-weight: bold;
    color: rgb(240, 76, 17);
    display: inline;
    
}

header h2 {
    font-weight: bold;
    margin-top: 14px;
}




.container {
    max-width: 960px;
    width: 100%;
    margin: 0 auto;
    justify-items: center;
}


form input{
    font-size: 30px;
    background-color: #fff;
    border: none;
    border-radius: 8px;
    border-bottom: 2px solid #ada3a3;
    border-color:rgb(240, 76, 17) ;
    padding: 8px;
    width: 640px;
    margin-bottom: 25px;
} 


form button {
    background-color:rgb(240, 76, 17);
    color: #fff;
    font-size: 30px;
    font-weight: 1px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    padding: 8px;
    margin-top: 2px;
    width: 640px;
}

table th {
    border-bottom: 2px solid rgb(240, 76, 17);
    padding: 25px;
    font-size: 28px;
    font-weight: normal;
}
table td {
    padding: 8px 0;
    text-align: center;
    font-size: 18px;
    border-bottom: 1px solid rgba(240, 76, 17, 0.5);
}

